#gallery_viewer {
    display: flex;
    flex-direction: row;
    width: 1100px;
    height: 679px;

    
}

#gallery_viewer_wrapper {
    background-color: pink;
    z-index: 100;
}

.gallery_viewer_arrow {
    display: flex;
    justify-content: center;
    align-items: center;
}

#gallery_viewer_left {
    width: 70px;
    color: #fff;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 50px;
    z-index: 1;
    cursor: pointer;
}

#gallery_viewer_right {
    width: 70px;
    color: #fff;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 50px;
    z-index: 1;
    cursor: pointer;
}