

#gallery_viewer_left {
    background-color: red;
    width: 100px;
    position: relative;
    color: #fff;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 50px;
    left: 100px;
    z-index: 1;
    cursor: pointer;
}

#gallery_viewer_right {
    background-color: red;
    position: relative;
    color: #fff;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 50px;
    right: 100px;
    z-index: 1;
    cursor: pointer;
}