/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app_container {
  width: 100%;
  height: 100%;
  background-color: yellow;
}

#app_header {
  background-color: red;
  align-items: center;
}

#app_header_title {
  font-size: 2rem;
  text-align: center;
  vertical-align: middle;
}

#app_header_subtitle {
  background-color: gainsboro;
  font-size: 1.3rem;
  text-align: center;
  vertical-align: middle;
}

#app_content {
  background-color: lightblue;
  display: flex;
}

#app_footer {
  background-color: pink;
}
