/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app_container {
  width: 80%;
  height: 100%;
  background-color: yellow;
  margin: auto;
}

#app_header {
  background-color: red;
  align-items: center;
}

#app_header_title {
  font-size: 2rem;
  text-align: center;
  vertical-align: middle;
}

#app_header_subtitle {
  background-color: gainsboro;
  font-size: 1.3rem;
  text-align: center;
  vertical-align: middle;
}

#app_content {
  background-color: lightblue;
  display: flex;
}

#app_footer {
  width: 80%;
  background-color: pink;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
}

#app_gallery_viewer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0; left: 0;
  background: rgba(0, 0, 0, .8);
  height: 100%;
  width: 100%;
  z-index: 100;
}

#app_gallery_viewer span {
  position: absolute;
  top: 0; right: 10px;
  font-size: 60px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  z-index: 100;
}

#photography {
  height: 600px;
  width: 800px;
  background-color: red;
}